* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 50px 1fr 50px / 1fr;
    grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
    height: 100vh;
}

.header{
    grid-area: header;
    background-color: lightblue;
}
.nav {
    grid-area: nav;
    background-color: lightgreen;
}
.content {
    background-color: lightyellow;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer {
    grid-area: footer;
    background-color: lightgray;
}

.item {
    padding: 10px;
    border: 1px solid lightgray;
}

.item1 {
    border: 1px solid black;
    font-size: 22px;
    text-align: center;
    align-content: center;
    width: 100px;
    height: 50px;
    margin: 10px;
}

h1 {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin: 10px;
    padding: 10px;
    margin: 10px;
}