* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: 
        "header header"
        "left content"
        "footer footer";
    height: 100vh;
}

.header{
    grid-area: header;
    background-color: lightblue;
}
.left {
    grid-area: nav;
    background-color: lightgreen;
}
.content {
    grid-area: content;
    background-color: lightyellow;
}
.footer {
    grid-area: footer;
    background-color: lightgray;
}